/*
THIS IS CURSED
do not uncomment
* {
    font-family: "Comic Sans MS" !important;
}
*/

:root {
  --main-black-color: #000000;
  --alt-black-color: #0A0A0A;
  --main-darkgray-color: #0F0F0F;
  --alt-darkgray-color: #0C0C0C;
  --jump-to-present-color: rgba(15, 15, 15, .95);
  --new-messages-color: rgba(15,15,15,.95);
  --light-hover-color: rgba(25, 25, 25, .5);
  --dark-hover-color: rgba(5, 5, 5, .5);
  --send-message-box-color: rgba(80, 80, 80, .1);
  --code-font: "PragmataPro";
}

/* guild icon hover tooltip */
.tooltip.tooltip-black {
    background-color: var(--main-darkgray-color) !important;
}

/* "x messages since y" bar */
[class*="newMessagesBar-"] {
    background-color: var(--new-messages-color) !important;
}

/* message dropdown */
.container-3cGP6G {
    background-color: var(--main-darkgray-color) !important;
}

.item-2J1YMK:hover {
    background-color: var(--dark-hover-color) !important;
}

/* Hide social links */
[class*="socialLinks-"] {
    display: none !important;
}

/* "No game detected" */
.user-settings-games .not-detected {
    background-color: var(--main-darkgray-color) !important;
}

/* nitro classic banner */
[class*="tier1Banner-"] {
    background-color: var(--main-darkgray-color) !important;
}

/* billing info */
[class*="paymentSourceRow-"] button {
    background-color: var(--main-darkgray-color) !important;
}

[class*="paymentPane-"],
[class*="paymentHistory-"],
[class*="payment-"],
[class*="paymentPane-"] [class*="paginator-"] [class*="pageActions-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="expandedInfo-"] {
    background-color: var(--alt-black-color) !important;
}

[class*="paymentRow-"] {
    border-bottom: 1px solid var(--main-black-color) !important;
}

/* emoji autocomplete */
[class*="autocomplete-"] {
   background-color: var(--main-darkgray-color) !important;
}

[class*="selectorSelected-"] {
   background-color: var(--dark-hover-color) !important;
}

/* search window */
[class*="queryContainer-"],
[class*="resultsGroup-"] {
   background-color: var(--main-darkgray-color) !important;
}

.option-96V44q:after {
   background: inherit !important;
}

.selected-rZcOL- {
   background-color: var(--main-black-color) !important;
}

/* message right click */
[class*="contextMenu-"] {
   background-color: var(--main-darkgray-color) !important;
}

/* "server members" */
.card-FDVird:before {
    background-color: var(--main-darkgray-color) !important;
    border-color: var(--main-black-color) !important;
}

/* keyboard shortcuts */
[class*="keyboardShortcutsModal-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="keybindShortcut-"] span {
    background-color: var(--alt-darkgray-color) !important;
    box-shadow: inset 0 -4px 0 rgba(20,19,22,.6) !important;
}

/* ddr arrows on keyboard shortcuts modal, which are very ugly imo */
[class*="ddrArrows-"] {
    display: none !important;
}

/* call screen */
[class*="video-"] {
    background-color: var(--main-darkgray-color) !important;
}

/* hover on friends on friends screen */
#friends .friends-table .friends-row:hover
{
    background-color: var(--light-hover-color) !important;
}

/* hover on buttons on friends screen */
#friends .tab-bar .tab-bar-item:hover:not(.selected)
{
    background-color: var(--light-hover-color) !important;
}

/* "an adventure begins", untested */
[class*="channelNotice-"],
[class*="invite-"]
{
    background-color: var(--main-black-color) !important;
}

/* hover on quick invite */
[class*="inviteRow-"]:hover {
    background-color: var(--light-hover-color) !important;
}

/* hover on friends on "Add friends to DM" */
[class*="friendSelected-"] {
    background-color: var(--light-hover-color) !important;
}

/* main discord bg, fixes a couple pixels */
[class*="layer-"],
[class*="layers-"],
[class*=".appMount-"]
{
    background: var(--main-black-color) !important;
    background-color: var(--main-black-color) !important;
}

[class*="channelTextArea-"] {
    border-top:none !important;
}

/* hover on settings dropdown */
.item-1GzJrl:hover {
    background-color: var(--dark-hover-color) !important;
}

/* gif button */
.buttonWrapper-Bm5QAU {
    display: none !important;
}

/* dark sad discord icon on no emoji search results */
.no-search-results .sad-discord {
    background-image: url('https://discordapp.com/assets/3d1e8c87ac8db1f8f7ce43994be40c2c.svg') !important;
}

/* dimmer on search results during diversity selector */
[class*="dimmer-"] [class*="visible-"] {
    background-color: hsla(0,0%,0%,.6) !important;
}

/* diversity selector itself */
[class*="diversitySelector-"] [class*="popout-"] {
    background: var(--main-darkgray-color) !important;
    border: 1px solid var(--main-black-color) !important;
}

/* delete message embed thing */
.message-2qRu38 {
    background-color: var(--main-darkgray-color) !important;
}

/* clyde */
[class*="isLocalBot-"] {
    background-image: linear-gradient(90deg, var(--alt-black-color) 80%, var(--alt-black-color)) !important;
}

/* Reduce username size by 10% */
[class*="username-"] {
    font-size: 0.9rem !important;
}

/* hide username and discrim on left corner */
[class*="accountDetails-"][class*="nameTag-"] {
    display: none !important;
}

/* upload modal */
[class*="uploadModal-"] [class*="inner-"] {
    border: 2px dashed #555555;
}

[class*="uploadModal-"],
.footer-3mqk7D {
    background-color: var(--main-darkgray-color) !important;
}

.footer-3mqk7D .button {
    background-color: var(--main-black-color) !important;
}

/* emoji picker */
[class*="scroller-"] [class*="stickyHeader-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="emojiPicker-"] [class*="scrollerThemed-"] {
    background-color: var(--alt-darkgray-color) !important;
}

.categories-1feg4n,
[class*="emojiPicker-"] {
    background-color: var(--alt-darkgray-color) !important;
}

[class*="emojiPicker-"] {
    border: 1px solid var(--main-darkgray-color) !important;
}

[class*="emojiItem-"][class*="selected-"] {
    background-color: var(--main-darkgray-color) !important;
}

[class*="scroller-"]::-webkit-scrollbar-track {
    background-color: var(--alt-black-color) !important;
}

div[class^="diversitySelector"] > div[class^="popout-"]::-webkit-scrollbar-track-piece
{
    background-color: var(--alt-black-color) !important;
    border: none !important;
}

div[class^="diversitySelector"] > div[class^="popout-"]::-webkit-scrollbar-thumb {
    background-color: #080808 !important;
    border: none !important;
}

/* emoji search bar */
[class*="header-"] .search-bar,
.search-bar-inner {
    background-color: var(--alt-darkgray-color) !important;
}

/* role add autocomplete popout */
#autocomplete-popout .autocomplete-header-background {
    background-color: var(--main-black-color) !important;
}

#autocomplete-popout .row {
    background: var(--main-black-color) !important;
}

#autocomplete-popout .row.selected {
    background: var(--main-darkgray-color) !important;
}

/* in voice chat thing */
.container-1UB9sr {
    background-color: var(--main-black-color) !important;
    border-bottom: 1px solid var(--main-darkgray-color) !important;
}


/* left guild bar */
[class*="guildsWrapper-"] {
    background-color: var(--main-black-color) !important;
}


/* guild name */
.container-PNkimc {
    background-color: var(--main-black-color) !important;
}


/* place with online state, username#discrim, online state etc */
.container-2Thooq {
    background-color: var(--main-black-color) !important;
}


/* x is typing */
.typing-2GQL18,
.chat-3bRxxu form,
.content-yTz4x3 {
    background-color: var(--main-black-color) !important;
}


/* title bar on guild */
[class*="titleWrapper-"] [class*="title-"] {
    background-color: var(--main-black-color) !important;
}


/* code block changes */
[class*="markup-"] pre {
    border: none !important;
    background: none !important;
}

code {
    background-color: var(--main-darkgray-color) !important;
    font-family: var(--code-font);
}


/* search bar over dms */
.search .search-bar {
    background-color: var(--main-black-color) !important;
}


/* dark msg background */
[class*="messages-"] {
    background-color: var(--main-black-color) !important;
}


/* search and dms userlist background */
[class*="scrollerThemed-"] {
    background-color: var(--main-black-color) !important;
}


/* voice channel limit display */
.wrapper-2NJDcI {
    background-color: var(--main-darkgray-color) !important;
}


/* top bars on friend menu */
.headerBar-UHpsPw,
.friends-table {
    background-color: var(--main-black-color) !important;
    margin-top: 0px !important;
}


/* user hover on members bar */
[class*="member-"].popout-open [class*="content-"],
[class*="member-"].popout-open:hover [class*="content-"],
[class*="member-"]:hover [class*="content-"] {
    background-color: var(--light-hover-color) !important;
}


/* message popout, like mentions or pins */
[class*="messagesPopoutWrap-"],
[class*="messageGroupWrapper-"],
.header-ykumBX,
.footer-1kmXd4 {
    background-color: var(--main-black-color) !important;
}


/* jump button itself */
[class*="jumpButton-"],
.jump-button {
    background-color: var(--main-darkgray-color) !important;
}


/* jump button's ugly box shadow */
[class*="messageGroupWrapper-"]:hover [class*="actionButtons-"] {
    background-color: var(--light-hover-color) !important;
    box-shadow: none !important;
}


/* quick switcher (qs) */
[class*="quickswitcher-"] {
    background-color: var(--main-black-color) !important;
}


/* qs input */
.input-2VB9rf {
    background-color: var(--main-darkgray-color) !important;
}

/* qs selected/hovered */
[class*="resultFocused-"] {
    background-color: var(--light-hover-color) !important;
}

/* user notif background */
.avatar-small a {
    background-color: var(--main-darkgray-color) !important;
}


/* channel hover */
[class*="contentHoveredText-"] {
    background-color: var(--light-hover-color) !important;
}


/* members bar on right side */
[class*="members-"] {
    background-color: var(--main-black-color) !important;
}


/* load more messages button */
[class*="hasMore-"] button {
    background-color: var(--main-black-color) !important;
    border: 1px solid var(--main-darkgray-color) !important;
}


/* small user popups */
.headerNormal-T_seeN,
.body-3iLsc4,
.footer-1fjuF6,
[class*="headerSpotify-"],
[class*="headerPlaying-"] {
    background-color: var(--alt-black-color) !important;
}

[class*="quickMessage-"] {
    background-color: var(--alt-black-color) !important;
    border: none !important;
}


/* user profiles */
.topSectionNormal-2-vo2m,
.body-3ND3kc {
    background-color: var(--main-darkgray-color) !important;
}


/* online/away/dnd/invisible menu */
.menu-Sp6bN1 {
    background-color: var(--main-darkgray-color) !important;
}


/* modals like channel info popup, leave, kick, ban etc */
.modal-3HD5ck,
.footer-2yfCgX {
    background-color: var(--main-black-color) !important;
}


/* you're viewing older messages bar */
[class*="jumpToPresentBar-"] {
    background-color: var(--jump-to-present-color) !important;
}


/* PM hover/selected colors */
[class*="channel-"][class*="selected-"] a, /* currently active */
[class*="channel-"]:hover a, /* hovered */
[class*="selectedLink-"],
.channel:hover a,
[class*="contentSelectedText-"],
[class*="contentSelectedVoice-"] {
    background-color: var(--light-hover-color) !important;
}


/* search colors */
[class*="searchAnswer-"],
[class*="searchFilter-"] {
    background-color: var(--main-darkgray-color) !important;
}

.channels-Ie2l6A,
.search-header,
.channel-separator,
.channel-separator .channel-name {
    background-color: var(--main-black-color) !important;
}

.search-results-wrap .search-result .hit {
    box-shadow: none !important;
    border: 2px solid var(--light-hover-color) !important;
    background-color: #030303 !important;
}

.search-result:before {
    background-image: none !important;
}

.search-result:after {
    background-image: none !important;
}


/* send message box */
.inner-zqa7da {
    background-color: var(--send-message-box-color) !important;
}


/* scrollbar */
.scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: var(--main-black-color) !important;
    border: none !important;
}

.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: var(--alt-darkgray-color) !important;
    border: none !important;
    /*
    box-sizing: border-box;
    border: 1px solid var(--main-darkgray-color) !important;
    */
}


/* idk what these do, removing them doesn't do much but I won't risk it */
.membersWrap-2h-GB4,
.chat-3bRxxu,
.content-yTz4x3,
.divider-3gKybi:before,
.divider-3gKybi span,
.channelTextArea-1LDbYG,
.channelTextArea-rNsIhG,
.chat-3bRxxu {
    background-color: var(--main-black-color) !important;
}
